<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<%= form_for(Suggestion.new) do |f| %>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id  %>
  </div>
  <div class="field">
    <%= f.label :title, "Suggestion" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "To do What?" %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :chosen_date, "When?" %><br>
    <%= f.text_field :chosen_date, class: "date-picker" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>


<script type="text/javascript">
  $(document).ready(function(){
   $(".date-picker").datepicker();
  });
</script>





